@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
